<div class="collections">
  <section>
    <h2>Conferences</h2>
    <ul>
      <li>
        <a href="https://www.scimagojr.com/journalsearch.php?q=21100226431&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"
          ><img border="0" src="https://www.scimagojr.com/journal_img.php?id=21100226431" alt="SCImago Journal &amp; Country Rank"
        ></a>
      </li>
    </ul>
  </section>

  <section>
    <h2>Journal</h2>
    <ul>
      <li>
        <a href="https://www.scimagojr.com/journalsearch.php?q=24201&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"
          ><img border="0" src="https://www.scimagojr.com/journal_img.php?id=24201" alt="SCImago Journal &amp; Country Rank"
        ></a>
      </li>
    </ul>
  </section>
</div>
